<% layout('layouts/boilerplate') %>
    <h1><%= mushroom.title %></h1>

    <p>This mushroom was found in <%= mushroom.location %> on <%= mushroom.dateFound %>.</p>
    <p>This mushroom is 
        <% if ( mushroom.edible === true) { %>
            edible.
        <% } else { %>
            not edible.
        <% } %>
    </p>
    <a href="/mushrooms/<%= mushroom._id %>/edit">Edit Mushroom</a>
    
    <form action="/mushrooms/<%=mushroom._id%>?_method=DELETE" method="POST">
        <button>Delete Mushroom</button>
    </form>
