<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= mushroom.title %></title>
</head>
<body>
    <h1><%= mushroom.title %></h1>

    <p>This mushroom was found in <%= mushroom.location %> on <%= mushroom.dateFound %>.</p>
    <p>This mushroom is 
        <% if ( mushroom.edible === true) { %>
            edible.
        <% } else { %>
            not edible.
        <% } %>
    </p>
    <a href="/mushrooms/<%= mushroom._id %>/edit">Edit Mushroom</a>
    <footer>
        <a href="/">Home</a>
        <a href="/mushrooms">All Mushrooms</a>
    </footer>
</body>
</html>